In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
dataset = pd.read_csv('winequalityN.csv')

In [18]:
dataset.head(5)

,Type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [23]:
typ = pd.get_dummies(dataset['Type'], drop_first = True)
typ.head(5)

   white
0      1
1      1
2      1
3      1
4      1

In [26]:
dataset=pd.concat([dataset,typ],axis=1)
dataset.head()

,Type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Quality,white
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,1
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1

In [27]:
dataset.drop('Type',axis=1,inplace=True)
dataset.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Quality,white
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1

In [44]:
X = dataset.drop('Quality', axis = 1)
y = dataset['Quality']

In [45]:
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,white
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,1
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,1
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,1
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,1
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,0
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,0
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,0
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,0
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,0

In [46]:
y

0       6
1       6
2       6
3       6
4       6
       ..
6492    5
6493    6
6494    6
6495    5
6496    6
Name: Quality, Length: 6497, dtype: int64

In [47]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [48]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,white
5372,10.5,0.280,0.51,1.7,0.080,10.0,24.0,0.99820,3.20,0.89,9.4,0
1790,9.4,0.160,0.30,1.4,0.042,26.0,176.0,0.99540,3.15,0.46,9.1,1
5879,9.5,0.860,0.26,1.9,0.079,13.0,28.0,0.99712,3.25,0.62,10.0,0
1065,8.3,0.220,0.38,14.8,0.054,32.0,126.0,1.00020,3.22,0.50,9.7,1
852,6.9,0.180,0.36,1.3,0.036,40.0,117.0,0.99340,3.27,0.95,9.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4931,6.9,0.605,0.12,10.7,0.073,40.0,83.0,0.99930,3.45,0.52,9.4,0
3264,5.9,0.240,0.12,1.4,0.035,60.0,247.0,0.99358,3.34,0.44,9.6,1
1653,7.9,0.330,0.28,31.6,0.053,35.0,176.0,1.01030,3.15,0.38,8.8,1
2607,8.9,0.260,0.33,8.1,0.024,47.0,202.0,0.99558,3.13,0.46,10.8,1
2732,7.9,0.510,0.34,2.6,0.049,13.0,135.0,0.99335,3.09,0.51,10.0,1

In [49]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,white
5316,11.9,0.38,0.51,2.0,0.121,7.0,20.0,0.99960,3.24,0.76,10.4,0
5210,9.0,0.46,0.31,2.8,0.093,19.0,98.0,0.99815,3.32,0.63,9.5,0
3518,7.5,0.20,0.41,1.2,0.050,26.0,131.0,0.99133,3.19,0.52,11.1,1
1622,6.5,0.44,0.49,7.7,0.045,16.0,169.0,0.99570,3.11,0.37,8.7,1
2443,6.6,0.32,0.33,2.5,0.052,40.0,219.5,0.99316,3.15,0.60,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5710,10.8,0.45,0.33,2.5,0.099,20.0,38.0,0.99818,3.24,0.71,10.8,0
6475,6.2,0.70,0.15,5.1,0.076,13.0,27.0,0.99622,3.54,0.60,11.9,0
1433,7.1,0.29,0.49,1.2,0.031,32.0,99.0,0.98930,3.07,0.33,12.2,1
2707,6.5,0.23,0.36,16.3,0.038,43.0,133.0,0.99924,3.26,0.41,8.8,1
2887,6.4,0.20,0.28,2.5,0.032,24.0,84.0,0.99168,3.31,0.55,11.5,1

In [50]:
y_train

5372    6
1790    5
5879    5
1065    5
852     7
       ..
4931    6
3264    6
1653    6
2607    6
2732    5
Name: Quality, Length: 5197, dtype: int64

In [38]:
y_test

5316    6
5210    6
3518    5
1622    6
2443    5
       ..
5710    5
6475    6
1433    6
2707    5
2887    5
Name: Quality, Length: 1300, dtype: int64

In [51]:
# fitting multiple linear regression to training set

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').